*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

hr{
    border: 3px solid #088395;
  }

.wrapper {
    width: 1250px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #088395;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #EBF4F6;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a {
    color: #071952;
    font-weight: bold;
    text-align: center;
    padding: 0px 18px 0px 18px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
}

.fotopp {
    width: 30%;
    height: 30%;
    border-radius: 50px;
    margin: 60px 0px 0px 50px;
}

.kolom {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#071952;
}

p.judul_intro {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50px;
    width: 100%;
    line-height: 50px;
    background: rgb(18,171,193);
    background: linear-gradient(132deg, rgba(18,171,193,1) 0%, rgba(107,219,204,1) 22%, rgba(31,106,223,1) 48%, rgba(24,198,215,1) 73%, rgba(29,137,249,1) 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100% {
        background-position: 400%
    }
}

p.deskripsi {
    margin-bottom: -30px;
}

p.kerjaan {
    margin-top: -30px;
}

a.tbl-biru {
    background-color: #088395;
    border-radius: 50px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #071952;
    text-decoration: none;
    transition: 0.5s;
}

a.tbl-pink {
    background-color: #088395;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

a.tbl-pink:hover {
    background: #071952;
    text-decoration: none;
    transition: 0.5s;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

section {
    margin-top: 30px;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50px;
    width: 100%;
    color: #088395;
}

.graphic {
    margin-top: 100px;
    margin-left: 190px;
}

.deskprojek {
    margin-top: -5%;
}

.judul_projek {
    color: #088395;
    margin-top: 5px;
    font-size: 40px;
    font-weight: 10px;
}

.graphicpp {
    margin: 100px;
}

.tbl-projek {
    background-color: #088395;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

.tbl-projek:hover {
    background: rgb(18,171,193);
    background: linear-gradient(132deg, rgba(18,171,193,1) 0%, rgba(107,219,204,1) 22%, rgba(31,106,223,1) 48%, rgba(24,198,215,1) 73%, rgba(29,137,249,1) 100%);
    background-size: 400%;
    animation: animate 10s linear infinite;
    text-decoration: none;
    transition: 0.5s;
}

.webdev {
    margin-bottom: 50px;
    margin-left: 190px;
    margin-top: -50px;
}

.webcpp {
    margin-left: 9%;
    margin-top: -50px;
}

.tengah {
    text-align: center;
}

footer {
    background-color: #EBF4F6;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.sosmed {
    display: flex;
    justify-content: center;
}

.sosmed a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 100%;
}

.sosmed a i {
    font-size: 1.5em;
    color: #088395;
    opacity: 0.9;
    transition: 0.5s;
}

.sosmed a i:hover {
    color: #071952;
    opacity: 1;
    font-size: 2.5em;
    transition: 0.2s;
}

.footerNav {
    margin: 5px 0;
    text-decoration: none;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #088395;
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
    font-size: 90%;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: #071952;
    font-size: 120%;
}

.footerBottom {
    font-size: 10px;
    padding: 1px;
    text-align: center;
    color: #088395;
    opacity: 0.7;
}