*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1250px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #088395;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #EBF4F6;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #071952;
    font-weight: bold;
    text-align: center;
    padding: 0px 18px 0px 18px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
}

.fotopp {
    width: 30%;
    height: 30%;
    border-radius: 50px;
    margin: 100px 0px 0px 50px;
}

.kolom {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#071952;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50px;
    color: #088395;
    width: 100%;
    line-height: 50px;
    margin-bottom: px;
}

p.deskripsi {
    margin-bottom: -15px;
}

p.kerjaan {
    margin-top: -5px;
}

a.tbl-biru {
    background-color: #088395;
    border-radius: 50px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #071952;
    text-decoration: none;
}

a.tbl-pink {
    background-color: #088395;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: 500;
}

a.tbl-pink:hover {
    background: #071952;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.graphic {
    margin-top: 100px;
    margin-left: 190px;
}

.judul_projek {
    color: #088395;
    margin-top: 5px;
    font-size: 40px;
    font-weight: 10px;
}

.graphicpp {
    margin: 100px;
}

.tbl-projek {
    background-color: #088395;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: #EBF4F6;
    cursor: pointer;
    font-weight: 500;
}

.tbl-projek:hover {
    background: #071952;
    text-decoration: none;
}

.webdev {
    margin-bottom: 50px;
    margin-left: 190px;
    margin-top: -50px;
}

.webcpp {
    margin-left: 9%;
    margin-top: -50px;
}

.tengah {
    text-align: center;
}

footer {
    background-color: #EBF4F6;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.sosmed {
    display: flex;
    justify-content: center;
}

.sosmed a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    background-color: white;
    border-radius: 100%;
}

.sosmed a i {
    font-size: 2em;
    color: #088395;
    opacity: 0.9;
}

.sosmed a:hover {
    background-color: #071952;
    transition: 0.5s;
}

.sosmed a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 10px 0;
    text-decoration: none;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #088395;
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1
}

.footerBottom {
    font-size: 10px;
    padding: 1px;
    text-align: center;
    color: #088395;
    opacity: 0.7;
}